
<div id="header">
  <div id="banner">
    <a id="logo-wrapper" href="{{ base_url }}">
      <img alt="*" src="{{ theme_url }}/images/logo.png" />
    </a>
    <div id="title-wrapper">
      <h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
      <p><a href="{{ base_url }}">Loving electronics under all circumstances</a></p>
    </div>
  </div>

  <div id="nav">
    <ul>
      {% for page in pages %}
        {% if not page.date %} {# check if the page isn't a blog post #}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
