<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ site_title }}</title>
    {% if meta.description %}
      <meta name="description" content="{{ meta.description }}" /> 
    {% endif %}{% if meta.robots %}
      <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}
    <link href="{{ theme_url }}/style.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ theme_url }}/favicon.ico"/>
  </head>
  <body>
    {% include "header.html" %}

    <div id="body">

      {#{% include "sidebar.html" %}#}
      
      <div id="content">
        
        {% block content %}

          {% if meta.date %}
            <div class="post">
              <div class="post-meta">
                <h2><a href="{{ meta.url }}">{{ meta.title }}</a></h2>
                <p>Posted on {{ meta.date }}</p>
              </div>
              <div class="post-content">
                {{ content }}
              </div>
            </div>
          {% else %}
            
            {{ content }}

          {% endif %}

        {% endblock %}
        
      </div><!-- #content -->
    </div><!-- #body -->
    
    {% include "footer.html" %}
    
  </body>
</html>
