
<a class="inline-block" href="https://www.youtube.com/c/TinmanElectronics">
  <img alt="YouTube" src="{{ theme_url }}/images/somicro/no-border/youtube-variation.png" />
</a>
<a class="inline-block" href="https://github.com/jstamant">
  <img alt="GitHub" src="{{ theme_url }}/images/somicro/no-border/github.png" />
</a>
<a class="inline-block" href="https://twitter.com/JustinTinman">
  <img alt="Twitter" src="{{ theme_url }}/images/somicro/no-border/twitter.png" />
</a>
<a class="inline-block" href="/contact">
  <img alt="Email" src="{{ theme_url }}/images/somicro/no-border/email.png" />
</a>
