/*************************************************
   TINMAN ELECTRONICS
   project: tinmanelectronics.com website
   file:    style.css
   author:  Justin R. St-Amant
   date:    2015-09-20
*************************************************/

* {
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  margin: 0%;
}

#header {
  background-color: #CC0;
  padding: 1%;
}

#logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

#title-wrapper {
  display: inline-block;
  padding-left: 1%;
  vertical-align: middle;
}

#nav {
  background-color: #CC0;
  border-bottom: 2px solid black;
  padding: 0.2% 0;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding: 0 1%;
}

#body {
  display: table;
  width: 100%;
}

#sidebar-wrapper {
  background-color: grey;
  display: table-cell;
  vertical-align: top;
  width: 15%;
}

#sidebar {
  padding: 5%;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content-wrapper {
  background-color: lightgrey;
  display: table-cell;
  width: 85%;
}

#content {
  padding: 2%;
}

.post {
  /*background-color: grey;*/
  margin-bottom: 2%;
}

.post * {
  margin: 0;
}

.post div {
  margin-bottom: 1%;
}

.video-showcase {
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 2%;
}

.video-post .thumbnail {
  display: inline-block;
  vertical-align: middle;
}

.video-post .summary {
  display: inline-block;
  padding-left: 2%;
  vertical-align: middle;
}

#footer-wrapper {
  background-color: #2A2A2A;
  /*border-top: 2px solid black;*/
}

#footer {
  color: #BEBEBE;
  padding: 1%;
}

/*************************************************
DEBUG
*************************************************/
.red {
  background-color: red;
}
