/*************************************************
   TINMAN ELECTRONICS
   project: tinmanelectronics.com website
   file:    style.css
   author:  Justin R. St-Amant
   date:    2015-09-20
*************************************************/

* {
  font-family: Tahoma, Geneva, sans-serif;
}

p {
  font-size: 1em;
}

a:link, a:visited, a:active {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #f44;
}



body {
  font-size: 100%;
  margin: 0.5% auto;
  max-width: 980px;
  padding: 0 2%;
}

#banner {
  padding: 1%;
}

#banner a {
  font-family: 'Orbitron', sans-serif;
  color: #000;
  text-decoration: none;
}

#logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

#logo-wrapper img {
  width: 100%;
}

#title-wrapper {
  display: inline-block;
  padding-left: 1%;
  vertical-align: middle;
  width: 60%;
}

#title-wrapper p {
  font-size: 1.25em;
}

#nav {
  border-bottom: 2px solid black;
  /*padding-bottom: 0.4%;*/
}

#nav a {
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
}

#nav a:link, #nav a:visited, #nav a:active {
  color: inherit;
  text-decoration: none;
}

#nav a:hover {
  color: #f44;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding: 0.2% 1%;
}

#page {
  /*display: table;*/
  width: 100%;
}

#content {
  padding: 2%;
}

code {
  background-color: #eef;
  display: inline-block;
  font-family: monospace;
  font-size: 1em;
  padding: 1%;
}

.inline-block {
  display: inline-block;
}

.post {
  margin-bottom: 2%;
}

.post * {
  margin: 0;
}

.post-meta a:link, .post-meta a:visited, .post-meta a:active {
  color: inherit;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

.post div {
  margin-bottom: 1%;
}

.left {
  float: left;
  margin-right: 1%;
}

.featured-video {
  background-color: #b6b6b6;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 2%;
}

.featured-video img {
  display: inline-block;
  vertical-align: middle;
}

.featured-video h3 {
  display: inline-block;
  padding-left: 2%;
  vertical-align: middle;
}

#footer {
  border-top: 2px solid black;
  float: clear;
  padding: 1%;
}


/*
   #sidebar-wrapper {
   display: table-cell;
   vertical-align: top;
   width: 15%;
   }

   #sidebar {
   padding: 5%;
   }

   #sidebar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   }

   #content-wrapper {
   display: table-cell;
   width: 85%;
   }
 */
