{% extends "index.twig" %}

{% block content %}

  {{ content }}

  <div class="featured-video">
    <img alt="*" src="/resources/2015/0003.jpg" />
    <h3>Tinman Electronics 7 - How to interface a quadrature output rotary encoder</h3>
  </div>
  <div class="featured-video">
    <img alt="*" src="/resources/2015/0004.jpg" />
    <h3>Tinman Electronics 15 - Modyfing the Fender Hot Rod Deluxe III</h3>
  </div>
  <div class="featured-video">
    <img alt="*" src="/resources/2015/0002.jpg" />
    <h3>Tinman Electronics 3 - First time lead-free solder user</h3>
  </div>

{% endblock %}
