<IfModule mod_rewrite.c>
    RewriteEngine On

    # If requested file/folder does not exist, generate a 404
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
#Options -Indexes
