/*************************************************
   TINMAN ELECTRONICS
   project: tinmanelectronics.com website
   file:    style.css
   author:  Justin R. St-Amant
   date:    2015-09-20
*************************************************/

#header {
  padding: 1%;
}

#logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

#title-wrapper {
  display: inline-block;
  padding-left: 1%;
  vertical-align: middle;
}

#nav {
  padding: 0.2% 0;
  border-bottom: 2px solid black;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding: 0 1%;
}

#sidebar-wrapper {
  width: 15%;
  float: left;
}

#sidebar {
  background-color: lightgrey;
  border-radius: 10px;
  margin: 1%;
  padding: 5%;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content-wrapper {
  float: left;
  width: 85%;
}

#content {
  padding: 2%;
}

/*
.video-post {
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 2%;
}
*/
.video-showcase {
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 2%;
}

.video-post .thumbnail {
  display: inline-block;
  vertical-align: middle;
}

.video-post .summary {
  display: inline-block;
  padding-left: 2%;
  vertical-align: middle;
}

#footer {
  border-top: 2px solid black;
  clear: both;
  width: 100%;
}

/*************************************************
DEBUG
*************************************************/
.red {
  background-color: red;
}
